{% extends 'home/home_base.html' %}


{% block home_content %}
    <div class="container mb-5 mt-5">

        <h5>Welcome to <span class="text-warning-emphasis">OperaLab</span> LIMS system.</h5>
        <p>
            OperaLab is an integrated laboratory data management system designed to efficiently manage laboratories,
            projects, personnel, and infrastructure.
            <br>Key features of the system include:
        </p>
        <ul>
            <li class="mb-1">
                <strong>Laboratory information management system:</strong><br>Centralize experimental and operational
                data, ensuring security and easy access. Performing tests, analyzing samples, and recording results are
                all automated and streamlined.
            </li>
            <li class="mb-1">
                <strong>Laboratory manager:</strong><br>Create, view, update laboratories, with full access to
                location, and more than essential details.
            </li>
            <li class="mb-1">
                <strong>Personnel manager:</strong><br>View staff lists, add new employees, update information, and
                assign staff to laboratories. Define roles and manage permissions for staff members.
            </li>
            <li class="mb-1">
                <strong>Projects tracker:</strong><br>Track the progress and store information of construction sites related to our laboratory facilities.
            </li>
        </ul>
        <p>
            OperaLab simplifies the complex tasks of laboratory management, providing a centralized solution for
            efficient operation and data handling. With its intuitive interface, OperaLab centralizes data and
            streamlines the management of laboratory spaces, staff, and construction projects.
        </p>
    </div>
{% endblock %}