{% extends 'base.html' %}

{% block content %}

    <div class="card align-middle m-3">
        <div class="card-header">
            <h5 class="card-title">{{ lab.name }}</h5>
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Code:</strong><br>{{ lab.short_name }}</p>
            <p class="card-text">
                <strong>Address:</strong><br>{{ street }}<br>{{ city }}<br>{{ country }}
            </p>
            <p class="card-text"><strong>Contact:</strong><br>{{ lab.contact_email }}</p>
            <a class="btn btn-outline-info" href="#">Edit</a>
            <a class="btn btn-outline-info" href="https://www.google.com/maps?q={{ lab.latitude }},{{ lab.longitude }}"
               target="_blank">
                <i class="bi bi-geo-alt"></i>
            </a>
        </div>


    </div>



{% endblock %}