{% extends 'labs/labs_base.html' %}

{% block content %}
    <div class="container mb-5 mt-5">

        <h5>Welcome in <span class="text-warning-emphasis">Laboratory Manager</span> application.</h5>
        <p>
            Laboratory manager with its intuitive and user-friendly interface, allows users to easily view, add, edit,
            or
            delete laboratories.<br>Key functionalities include:
        </p>
        <ul>
            <li class="mb-1">
                <strong>View Laboratory List:</strong><br>Displays a comprehensive list of all laboratories within the
                system,
                allowing users to quickly scan available labs.
            </li>
            <li class="mb-1">
                <strong>Add New Laboratory:</strong><br>Users can easily add new laboratories to the system, including
                specifying essential details like name and location.
            </li>
            <li class="mb-1">
                <strong>Laboratory Details:</strong><br> Update laboratory information effortlessly to reflect any
                changes,
                ensuring data accuracy.
            </li>
            <li class="mb-1">
                <strong>Delete Laboratory:</strong><br> Remove outdated or unused laboratories from the system with a
                straightforward delete function.
            </li>
            <li class="mb-1">
                <strong>Location Display:</strong><br> Each laboratory's location is readily visible, allowing for
                better
                organization and access planning.
            </li>
        </ul>
        <p>
            This application is ideal for institutions or organizations managing multiple laboratory spaces, providing
            an efficient tool to centralize and maintain up-to-date laboratory information.
        </p>
    </div>
{% endblock %}