{% extends 'labs/labs_base.html' %}

{% block labs_content %}

    <div class="table-responsive mb-5 mt-5 mx-5">
        <table class="table table-hover align-middle">
            <thead>
            <tr>
                <th scope="col" style="width:140px;">Name</th>
                <th scope="col"></th>
                <th scope="col">Code</th>
                <th scope="col">Country</th>
                <th scope="col">Address</th>
                <th scope="col">Leadership area</th>
                <th scope="col">e-mail</th>
            </tr>
            </thead>
            <tbody>
            {% for lab in laboratories %}
                <tr>
                    <td class="">
                        <a class="link-underline link-underline-opacity-0"
                           href="{% url 'labs:detail_view' pk=lab.pk %}">
                            {{ lab.short_name }}
                        </a>
                    </td>
                    <td>
                        {% if lab.has_gps_coordinates or lab.has_postal_address %}
                            <a class="icon-link" href="{{ lab.google_map_url }}" target="_blank">
                                <i class="bi bi-geo-alt"></i>
                            </a>
                        {% else %}
                            <i class="bi bi-geo-alt text-secondary"></i>
                        {% endif %}
                    </td>
                    <td class="text-body-secondary">{{ lab.lab_code }}</td>
                    <td class="text-body-secondary">{{ lab.country }}</td>
                    <td class="text-body-secondary">{{ lab.street }} {{ lab.number }}<br>{{ lab.zip_code }} {{ lab.city }}</td>
                    <td class="text-body-secondary">{{ lab.leadership_area }}</td>
                    <td class="text-body-secondary">{{ lab.contact_email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}