{% extends 'personnel/personnel_base.html' %}

{% block content %}
    <div class="container mb-5 mt-5">

        <h5>Welcome to the <span class="text-warning-emphasis">Personnel Management</span> application.</h5>
        <p>
            Personnel Manager, with its intuitive and user-friendly interface, enables efficient management of
            laboratory staff and their roles within the organization.<br>Key functionalities include:
        </p>
        <ul>
            <li class="mb-1">
                <strong>View Personnel List:</strong><br>Displays a comprehensive list of all staff members, allowing
                users to quickly review the personnel assigned to different laboratories, including their roles and
                contact information.
            </li>
            <li class="mb-1">
                <strong>Add New Staff Member:</strong><br>Easily add new employees to the system, specifying important
                details such as name, role (e.g., Laboratory Technician, Lab Manager, Group Leader), and the laboratory
                they are assigned to.
            </li>
            <li class="mb-1">
                <strong>Staff Details and Updates:</strong><br>Effortlessly update staff information to reflect any
                changes in roles, assignments, or contact details, ensuring that personnel records remain accurate and
                up to date.
            </li>
            <li class="mb-1">
                <strong>Delete Staff Member:</strong><br>Remove staff members who are no longer part of the organization
                or have moved to a different department with a simple and secure delete function.
            </li>
            <li class="mb-1">
                <strong>Role and Permission Management:</strong><br>Define and manage roles for each staff member,
                providing the appropriate permissions and access levels for their responsibilities.
            </li>
            <li class="mb-1">
                <strong>Laboratory Assignment:</strong><br>Quickly assign or reassign personnel to laboratories,
                supporting dynamic team structures and improving the coordination of laboratory resources.
            </li>
        </ul>
        <p>
            This application is ideal for institutions or organizations that need to manage a diverse team of laboratory
            personnel efficiently, offering a centralized tool to maintain clear and organized records of all staff
            members and their responsibilities.
        </p>
    </div>
{% endblock %}